* {
  margin: 0;
  padding: 0;
}

:root {
  --background-color: brown;
  --button-color: rgb(194, 3, 3);
  --shadow: rgba(0, 0, 0, 0.3);
}

html {
  box-sizing: border-box;
  font-family: Arial, Helvetica, sans-serif;
  background-color: var(--background-color);
}

body {
  &::before {
    background-image: url("./images/tablecloth.webp");
    background-repeat: no-repeat;
    background-position: center top;
    background-size: cover;
    content: "";
    height: 100%;
    left: 0;
    position: fixed;
    top: 0;
    width: 100%;
    will-change: transform;
    z-index: -1;
  }
}

header {
  display: flex;
  flex-direction: column;
  align-items: center;
  height: 150px;
  background: linear-gradient(to bottom, rgba(0, 0, 0, 1), rgba(0, 0, 0, 0));
}

header #restaurant-name {
  padding: 20px 0px;
  font-size: 3rem;
  color: white;
}

header #nav-button-container {
  display: flex;
}

header button {
  margin: 0px 1rem;
  padding: 0.5rem 1rem;
  font-size: 1rem;
  border-radius: 0.5rem;
  border: 3px solid var(--button-color);
  color: white;
  background-color: var(--button-color);
  cursor: pointer;
}

header button:hover {
  border: 3px solid white;
}

#featured-item {
  color: black;
  padding: 20px 0px;
}

#content {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.menu-container {
  display: grid;
  padding: 30px;
  grid-template-columns: repeat(auto-fit, minmax(200px, 1fr));
  width: 80vw;
  background: var(--shadow);
  border-radius: 20px;
}

.menu-item {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.menu-item img {
  width: 20vw;
  height: auto;
}

.menu-item h2 {
  padding: 20px 0px;
}
